/* ========= */
/* UTILITIES */
/* ========= */

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

.horizontal-stack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}

@media screen and (orientation: landscape) {
    .desktop-only {
        display: none !important;
    }
}
