/* ======= */
/* IMPORTS */
/* ======= */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* ====== */
/* COLORS */
/* ====== */

:root {
    --clr-dark: 0, 0%, 18%;
    --clr-light: 0 0% 100%;
    --clr-white: 0 0% 100%;
}

/* ========= */
/* NORMALIZE */
/* ========= */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    font-family: 'Ubuntu Mono', monospace;
}

body {
    position: relative;
    display: grid;
    place-content: center;
    background-color: hsl(var(--clr-light));
    color: hsl(var(--clr-dark));
}

body.dark-mode {
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-light));
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ================ */
/* USER PREFERENCES */
/* ================ */

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 1ms !important;
        scroll-behavior: auto !important;
    }
}

/* ======= */
/* GENERAL */
/* ======= */

button {
    font-family: inherit;
    padding: 0.33rem 0.25rem;
}

/* ====== */
/* LAYOUT */
/* ====== */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100vw;
    padding: 1rem 1rem;
}

@media screen and (max-width: 640px) {
    main {
        flex-direction: column-reverse;
    }
}

#control-panel {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
}

#control-panel * {
    width: 100%;
}

#control-panel>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#ascii-video-container {
    flex: 3;
    display: grid;
    place-content: center;
    overflow: hidden;
}

#ascii-video {
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    line-height: 8px;
    height: 100%;
    width: 100%;
}

#video {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem;
}

#video-canvas {
    display: none;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
