*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#ascii-video {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6px;
    line-height: 6px;
    color: black;
    height: 100%;
    width: 100%;
}
